################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BLueCodeChanllenge/bin/Debug/net6.0
/BLueCodeChanllenge/obj
/Testing/bin
/Testing/obj
